extends  base

block vars
   - var title = 'Home'
    h1 Auth!
block body
    Hi Auth in Node.js!
    p.
      Welcome to the auth home page! Please <a href='/login'>login</a>
      or <a href='/register'> register </a> in order to continue!.

